<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lightfield.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="LightfieldApplication"
        android:allowBackup="false">

        <!--        <receiver android:name=".receiver.CookieReceiver">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />-->
        <!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->

        <service
            android:name=".service.LightfieldAccessibilityService"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_label_config" />
        </service>
    </application>
</manifest>